

.img_principal{
    width: 50%;
    alt: 30%;
    margin: 3%%;

    
}



footer {
    background-color: #f2f2f2;
    text-align: center;
    margin: 0% 0% 0%;
  }

  .container {
    display: flex;
    justify-content: space-around;
   
    
  }

  .formacion{
    
   padding: 3%;
   
  }

 
.experiencia{
padding: 3%;
}