body {
  margin: 0%;
  padding: 0%;
  background-color: ;
}

.img_principal {
  width: 50%;
  alt: 30%;
}

footer {
  background-color: #f2f2f2;
  text-align: center;
  margin: 0% 0% 0%;
  width: 100%;
  alt: auto;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

.formacion {
  padding: 3%;
}

.experiencia {
  padding: 3%;
}

